<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<!--cfgs target class   -->
<bean id="target" class="com.manash.target.ArithematicsOperations"/>
<!-- cfgs advice class -->
<bean id="advice" class="com.manash.advice.PerformanceMonitoring"/> 
<!-- cfgs pointer cutter -->
<bean id="ptc" class="com.manash.pointcutter.ArithmeticsAddMethodPointCutter"/>
<!--cfgs advisor class object  -->
<bean id="advisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
   <property name="advice" ref="advice"/>
   <property name="pointcut" ref="ptc"/>
</bean>
<!-- cfgs proxyFactoryBean -->
<bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
   <property name="target" ref="target"/>
   <property name="interceptorNames">
     <array>
        <value>advisor</value>
     </array>
   </property>
</bean>


</beans>
