<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- configure target class -->
<bean id="bankService" class="com.manash.target.BankServiceImpl"/>
    <!--configure aspect class  -->

<bean id="logAdvice" class="com.manash.aspects.LogAroundAdvice"/>

 
<!-- configure proxyfactory bean -->    

<bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target" ref="bankService"/>
     <property name="proxyInterfaces">
        <array>
           <value>com.manash.target.BankService</value>
        </array>
    </property>
    
    <property name="interceptorNames">
         <array>
               <value>logAdvice</value>              
         </array>
    </property>
    
</bean>
</beans>
