<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
<!-- cfgs Target class -->
<bean id="target" class="com.manash.target.LoanApprover"/>
<!-- cfgs Advice class -->
<bean id="auditAdvice" class="com.manash.advice.AuditingBoferAdvice"/>
<!-- Enable AOP  -->
<aop:config>
   <aop:pointcut id="ptc1" expression="execution(String com.manash.target.LoanApprover.approveLoan(..)) and args(type,amt,aprv)" />
   <!-- config aspects -->
   <aop:aspect id="auditAspects" ref="auditAdvice">
        <aop:before method="loanApprover" pointcut-ref="ptc1"/>
   </aop:aspect>
</aop:config>
</beans>
